<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>hideEmptyColumn</name>
        <type>plugin</type>
        <creationDate>2014-08-29</creationDate>
        <lastUpdate>2022-02-08</lastUpdate>
        <author>Denis Chenu</author>
        <authorUrl>https://extensions.sondages.pro/questions-updating-and-managing/hideemptycolumn/</authorUrl>
        <email>support@sondages.pro</email>
        <version>2.0.0</version>
        <license>GNU GENERAL PUBLIC LICENSE Version 3</license>
        <description>Use Expression Manager to hide column in LimeSurvey. This plugin add some javascript to column with empty header in array question type.</description>
        <supportUrl>https://extensions.sondages.pro/questions-updating-and-managing/hideemptycolumn/</supportUrl>
    </metadata>
    <compatibility>
        <version>3.0</version>
        <version>4.0</version>
        <version>5.0</version>
    </compatibility>
    <updaters disabled="disabled">
    </updaters>
</config>
